# Python 编译文件
__pycache__/
*.pyc

# uv 和 虚拟环境 (绝对不能上传这个！)
.venv/
venv/

# 环境变量 (防止密钥泄露)
.env

# 操作系统生成的垃圾文件
.DS_Store
Thumbs.db

# 忽略上传的具体文件 (保留文件夹结构)
uploads/*
!uploads/.gitkeep

# 忽略 IDE 配置
.vscode/
.idea/